@import "tailwindcss";

:root {
  --background: #221f1b;
  --foreground: #f9f1e7;
  --primary: #b1a696;
}

@base {
  html {
    scrollbar-width: none;
  }
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
